<h1>Watches</h1>
<a href="#" class="btn btn-primary"><%= link_to "Rent your watch", new_watch_path %></a>

<div class="container">

  <div class="row">
    <% @watches.each do |watch| %>
      <%= render watch %>
    <% end %>
  </div>
</div>
