
<h1 style="margin:10px 10px 5px 20px;">Watches</h1>
<div class="btn btn-success btn-xs" id="index-button">
<%= link_to "Add new booking", new_watch_path, :class => "btn" %>
</div>
<h1>Watches</h1>
<%= link_to "Rent out your watch", new_watch_path, class: "btn btn-outline-secondary mx-4" %>
<div class="container">

<form action="/watches">
  <label for="start_date">Start date:</label><br>
  <input type="date" id="start_date" name="start_date"><br>
  <label for="end_date">End date:</label><br>
  <input type="date" id="end_date" name="end_date" ><br><br>
  <input type="submit" value="Submit">
</form>

  <div class="row">
    <% @watches.each do |watch| %>
      <%= render watch, watch: watch %>
    <% end %>
  </div>
</div>
