<h1>Watches</h1>
<%= link_to "Rent out your watch", new_watch_path, class: "btn btn-outline-secondary mx-4" %>
<div class="container">


  <div class="row">
    <% @watches.each do |watch| %>
      <%= render watch %>
    <% end %>
  </div>
</div>
