<h1 style="margin:10px 10px 5px 20px;">Watches</h1>
<div class="btn btn-success btn-xs" id="index-button">
<%= link_to "Add new booking", new_watch_path, :class => "btn" %>
</div>

<div class="container">

  <div class="row">
    <% @watches.each do |watch| %>
      <%= render watch, watch: watch %>
    <% end %>
  </div>
</div>
