.card {
  overflow: hidden;
  margin-bottom: 1rem;
  width: 320px;
}

.detail-img {
  height: 280px;
  width: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.card .card-infos {
  padding: 16px;
  background: #efe5d9;
  justify-content: space-between;
  position: relative;
}
