.card {
    overflow: hidden;
    margin-bottom: 1rem;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.34);
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.34);
}

.card img {

    object-fit: contain;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 180px;
    width:100%;
}

.card-img {
  padding: 12px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 320px;
}

.detail-img {
  height: 280px;
  width: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.card .card-infos {
  padding: 16px;
  background: #efe5d9;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
