.category {
  font-family: 'Aboreto', cursive;
  margin: 0 0 20px 0;
}

.category .btn-default {
  font-size: 15px;
  font-weight: bold;
}

.category .btn-default:hover {
  background-color: #9CA89C;
  color: white;
}
