input[type=date] {
  width: 200px;
  border-radius: 20px;
}

#submitbutton {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 5px 10px;
  border-radius: 6px;
}

#submitbutton:hover {
  background-color: #9CA89C;
  color: #F5EBE0;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 20px 160px;
}

label {
  padding: 0 20px 0 20px;
}

#button1 {
  background-color: white;
  color: #80818B;
  border: 2px solid #80818B;
}

.button1:hover {

}
